.ordersBox{
    position: absolute;
    right: 100px;
    width: 300px;background-color: #ddb892;
    padding: 0 20px;
    height: 280px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: fit-content;

}
.ordersBox img{
    width: 100px;
    height: 100px;
}
.box{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--main-color);
    padding: 10px;
}
.boxInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;  
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}