.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.filterBtn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    transition: all 200ms ease-in;
}
.filterBtn:hover{
    background-color: var(--main-color);
    padding: 5px 30px;
    border-radius: 30px;
}
.selected{
    background-color: bisque;
    padding: 10px 30px;
    border-radius: 10px
}
.highlight{
      background-color: var(--main-color);
    padding: 5px 30px;
    border-radius: 30px;
}
