.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.headerWrapper button{
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: relative;
}
.headerWrapper button svg{
    width: 100%;
    height: 100%;
}
.notif{
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 100%;
    position: absolute;
    top: 12px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}