:root{
    --main-color : #b08968;
}

.menuTitle{
  margin-top: 50px;
  text-align: center;
}
.line{
    height: 4px;
    width: 150px;
    display: block;
    background-color: var(--main-color);
    border-radius: 81px;
    margin: 0 auto;
}